* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body {
	margin: 0;
    background: conic-gradient(at top right, slategray, white);
}

.wrapper {
    padding: 20px;
    max-width: 2000px;
    width: 100%;
    margin: 20px auto;

}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px; 
    overflow: hidden;

}

.column {
    flex: 1;
    margin: 15px;
    padding: 20px;
   
}

.column:first-child {
    margin-left: 0;
    
}

.column:last-child {
    margin-right: 0;
}

.avatar {
    vertical-align: middle;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 125px;
    margin-top: 25px;
    
}

.post-img {
    vertical-align: middle;
    text-align: center;
    width: 450px;
    height: 400px;
}

.button-list {
    text-align: center;
    margin-top: 100px;
    margin-right: 20px;
    line-height: 1.8;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor:pointer;
}

.recent-matches {
    margin-bottom: 50px;
}

.rock-type {
    float: left;
}

.interested-in {
    float: right;
}

.heart-button {
    text-align: right;
    margin-top: 120px;
    margin-right: 50px;
}

.skip-button {
    text-align: left;
    margin-top: -50px;
    margin-left: 50px;
}

