.user-match, .unread-message, .read-message {
    border-bottom: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
}

.original-anchor {
    color: blue;
    transition: .2s;
    
}

.original-anchor:hover {
    font-size: 20px;
}


.unread-message {
    font-weight: bold;
}