{% extends 'base.html' %}
{% include navbar %}

{% load static %}

{% block content %}



{% if user.is_authenticated %}
<title>Explore</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/explore.css' %}">

<div class="wrapper">
  <section class="columns">
    <div class="column left border-end border-secondary">
      <h1 class="display-3" style="text-align:center;"><u>{{user.username}}</u></h1>
      <img class="avatar" alt="avatar" src="{{user.profilepic.url}}">
    </div>

    <div class="column border-end border-secondary" style="min-height: min-content;" >
    <h1 class="display-3" style="text-align:center;"><u>Potential Matches</u></h1>
      
      {% for user in users %}
      {% if user not in request.user.admirers.all%}
      <div class="card" style="text-align:center;width:250px;margin-left:150px;;margin-bottom:50px">
  <img class="card-img-top" src="{{user.profilepic.url}}" alt="potential match" style="height:200px">
  <div class="card-body">
    <h5 class="card-title">{{user.username}}</h5>

   <button type="button" class="btn btn-outline-danger btn-sm"><a href="/admire/{{user.id}}/">Admire</a> <i class="fa fa-heart"></i></button>
        
      
    <button type="button" class="btn btn-outline-success btn-sm"><a href="/author_profile/{{user.id}}">Profile</a> <i class="fa fa-user"></i></button>
    
  </div>
</div>
        
        {% endif %}
        {% endfor %}
      
        
    </div>
    

    <div class="column">
     <h1 class="display-3" style="text-align:center;"><u>Recent Matches</u></h1>
     {% for u in user.admirers.all %}
        <div class="recent-matches">
        
        <p class="h4" style="text-align:center;"><u>{{u.username}}</u></p>
        <br>
        <a href="/author_profile/{{user.id}}"><img class="avatar" alt="avatar" src="{{u.profilepic.url}}"></a>
        
        </div>
     {% endfor %}
    </div>
      
  </section> 



  
  
  
  
  {% comment %} Hi {{ user.username }}!
  

  <img src="{{user.profilepic.url}}" width="100px" height="100px"> {% endcomment %}
{% endif %}
    {% endblock %}