{% extends 'base.html' %}
{% include navbar %}

{% load static %}

{% block title %}Home{% endblock %}
{% block content %}



{% if user.is_authenticated %}
<title>{{user.username}}'s Homepage</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<div class="wrapper">
  <section class="columns">
    <div class="column left border-end border-secondary">
      <h1 class="display-3" style="text-align:center;"><u>{{user.username}}</u></h1>
      <img class="avatar" alt="avatar" src="{{user.profilepic.url}}">
      
      <div class="button-list">
      <button type="button" class="btn btn-outline-dark btn-lg"><a href="/explore/">Explore <i class="fa fa-arrow-right" aria-hidden="true"></i></a></button>
      </div>
      <div class="button-list">
      <button type="button" class="btn btn-outline-dark btn-lg">Chats <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      
      </div>
    </div>

    <div class="column border-end border-secondary" style="min-height: min-content;" >
      <h1 class="display-3" style="text-align:center;"><u>Recent Posts</u></h1>
      {% for u in user.admirers.all %}
      {% for post in u.post_set.all %}
      
     <a href="/posts/post/{{post.id}}/"><img src="{{post.image.url}}" alt="posts" class="img-thumbnail post-img"></a>
      
      {% endfor %}
      {% endfor %}

    </div>

    <div class="column">
      <h1 class="display-3" style="text-align:center;"><u>Recent Admirers</u></h1>
     {% for r in recent %}
     <br>
     <div>
    <a href="/author_profile/{{r.admiring.id}}/"><img alt="Profile Pic" class="rounded-circle avi-small" src="{{r.admiring.profilepic.url}}"></a>
    <h2 class="recent-text">{{r.admiring.username}} is now admiring you!</h2>  </div>
    </div>
     {% endfor %}
   
  </section>  



  
  
  
  
  {% comment %} Hi {{ user.username }}!
  

  <img src="{{user.profilepic.url}}" width="100px" height="100px"> {% endcomment %}
{% else %}
<h1>Not signed in</h1>
<a href="accounts/login/">Log in</a>
{% endif %}

    {% endblock %}