{% extends 'base.html' %}
{% include navbar %}

{% load static %}

{% block title %}Create a Post{% endblock %}
{% block content %}



{% if user.is_authenticated %}
<div column-sm">
    <div class="card p-2">
        <a href="/posts/post/{{ post.id }}"> <p>{{ post.timestamp | date:"D M d Y" }} </p></a>
        <div class="card-body">
            <p>{{post.image}}</p>
            <p> {{post.caption}} </p>

            {% if image %}
            <h3>Succesfully uploaded : {{image.title}}</h3>
            <img src="{{ image.url}}" alt="connect" style="max-height:300px">
          {% endif %}

        </div>
    </div>
    <br>
</div>
{% endif %}
{% endblock %}